*{
    box-sizing: border-box;
    margin:0;
    font-family: 'Roboto', Consolas, 'Courier New', monospace;
}

.hero{
    display: block;
}

/*------HEADER-------*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: #1F2937;
    padding: 0px 150px;  
}

.header-logo a{
    text-decoration: none; 
    font-size: 24px;
    font-weight:bold;
    color: #F9FAF8;    
}

.header-links{
    display: flex;
    gap:20px;
    list-style: none;
}

.header-links a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;     
}

a:hover{
    color:cadetblue;
}
/*------HEADER-END-------*/


/*------HERO-END-------*/
.hero-content{
    display:flex;
    height: 360px;
    background-color: #1F2937;
    padding: 30px 150px;
}

.left-half{
    flex:1;    
}

.left-half h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight:900;
}

.left-half p{
    color: #F9FAF8;
    font-size: 18px;  
}

.sign-up-btn{   
    margin: 20px 0px;
    width: 120px;
    height:40px;
    border-radius: 7px;
    background-color: #3882F6;  
}

.sign-up-btn:hover{
    background-color:#1F2937;
}

.sign-up-btn a{
   text-decoration: none;
   color: #F9FAF8;
   font-weight:bolder;
   font-size:medium;
}

.right-half{
    flex:1; 
    display:flex;
    justify-content: flex-end;        
}

.right-half img{
    width:550px;
    height:300px;
    border-radius:5px;
}
/*------HERO-END-------*/


/*------BODY-CONTENT-TOP-SECTION-------*/
.body-content{
    display:flex;
    flex-direction: column;
    border: 2px solid brown;
    height: 1500px;
}

.top-section{
    flex:1;
    
}

.top-section-text{
    display:flex;
    justify-content: center;
    padding:20px 0px;
}

.top-section-text{
    color: #1F2937;
    font-size:36px;
    font-weight: 900;
}

.top-section-illustrations{
    display:flex;
    justify-content: center;
    gap: 60px;
    padding:20px 0px;
}

.top-section-illustrations div{
    height:200px;
    width:200px;
    border-radius: 15px;
    align-items: center;
}

.top-section-illustrations p{
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.top-section-illustrations img{
    height:200px;
    width:200px;
    border-radius: 15px;
    border:4px solid #3882F6;
}
/*------BODY-CONTENT-TOP-SECTION-END------*/





/*------BODY-CONTENT-MIDDLE-SECTION-------*/
.middle-section{
    flex:1;
    background-color: #E5E7EB;
}

.quote{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    height:494px;
}

.quote q{
    font-size: 36px;
    color: #1F2937;
    font-weight:300; 
}

.quote p{
    align-self: flex-end;
    margin:0px 360px;
    font-size: 36px;
    color: #1F2937;
    font-weight:bold;   
}
/*------BODY-CONTENT-MIDDLE-SECTION-END------*/


/*------BODY-CONTENT-BOTTOM-SECTION-------*/
.bottom-section{
    flex:1;
}

.banner{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6; 
    border-radius: 10px;
    margin: 160px 240px;
    height:160px;   
}

.banner-text{
    flex:1;
    padding: 0px 100px;
    color: #F9FAF8;
}

.banner-sign-up-btn{
    flex:1;
}

.banner-sign-up-btn button{
    width: 135px;
    height:40px;
    border-radius: 7px;
    border: 2px solid white;
    background-color: #3882F6;  
}

.banner-sign-up-btn button:hover{
    background-color: #1F2937;  
}

.banner-sign-up-btn a{
   text-decoration: none;
   color: #F9FAF8;
   font-weight:bolder;
   font-size:medium;
}
/*------BODY-CONTENT-BOTTOM-SECTION-END------*/




footer{
    background-color: #1F2937;
    height: 100px;
    text-align: center;
    padding: 40px;
    color: #E5E7EB;
}